<div class="locations">
  <mat-form-field>
    <mat-label>Wähle dein Standort</mat-label>
    <mat-select [formControl]="locationControl">
      @for (location of locations; track location.number) {
        <mat-option [value]="location.number">
          <span>
            <strong>{{ location.name }}</strong> - {{ location.game }}
          </span>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

@for (game of locationGames$ | async; track $index) {
  <div class="location-game">
    <div class="time">
      <span>{{ game.time.from }}</span>
      <span>bis {{ game.time.to }}</span>
    </div>
    @if (game.type === "game") {
      <div class="team left">
        <span [ngClass]="game.leftTeamPoints | resultColor"> Team {{ game.leftTeam.number }} </span>
        <span>{{ game.leftTeam.captain }}</span>
      </div>
      <span style="text-align: center">
        {{ game.location.number === 9 ? "mit" : "vs" }}
      </span>
      <div class="team">
        <span [ngClass]="game.rightTeamPoints | resultColor"> Team {{ game.rightTeam.number }} </span>
        <span>{{ game.rightTeam.captain }}</span>
      </div>
    } @else {
      <span style="text-align: center; grid-column: span 3">
        @if (game.time.number === 7) {
          😋&nbsp;&nbsp;Mittagspause
        } @else {
          🧃&nbsp;&nbsp;Pause
        }
      </span>
    }
  </div>
}
