<div class="mode print:hidden">
  <small> Wähle die Ansicht für Spielplan & Resultate: </small>
  <mat-button-toggle-group [value]="mode$ | async" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="team" routerLink="/schedule" [queryParams]="{ mode: 'team' }"> Team </mat-button-toggle>
    <mat-button-toggle value="location" routerLink="/schedule" [queryParams]="{ mode: 'location' }">Standort</mat-button-toggle>
    <mat-button-toggle value="time" routerLink="/schedule" [queryParams]="{ mode: 'time' }"> Zeit </mat-button-toggle>
  </mat-button-toggle-group>
</div>

@switch (mode$ | async) {
  <!-- LOCATIONS -->
  @case ("location") {
    <app-location-schedule></app-location-schedule>
  }
  <!-- TIME -->
  @case ("time") {
    <app-time-schedule></app-time-schedule>
  }
  <!-- TEAMS -->
  @default {
    <app-team-schedule></app-team-schedule>
  }
}
