.mode {
  padding: 0.5rem;
  padding-bottom: 0;
  padding-top: 0;

  mat-button-toggle-group {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    margin-top: 0.25rem;
  }
}
