<div class="teams">
  <span class="header name">Team</span>
  <span class="header">Spiele</span>
  <span class="header">S</span>
  <span class="header">U</span>
  <span class="header">N</span>
  <span class="header">Punkte</span>
  <span class="row" *ngFor="let team of teams$ | async">
    <span class="name">Team {{ team.team.number }}</span>
    <span>{{ team.games }}</span>
    <span>{{ team.wins }}</span>
    <span>{{ team.ties }}</span>
    <span>{{ team.losses }}</span>
    <span>{{ team.points }}</span>
  </span>
</div>
