<div class="teams">
  <mat-form-field>
    <mat-label>Wähle dein Team</mat-label>
    <mat-select [formControl]="teamControl">
      @for (team of teams; track team.number) {
        <mat-option [value]="team.number">
          <span>Team {{ team.number }} - {{ team.captain }}</span>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

@let games = teamGames$ | async;
@for (game of games; track $index) {
  <div class="team-game">
    <div class="time">
      <span>{{ game.time.from }}</span>
      <span>bis {{ game.time.to }}</span>
    </div>
    @if (game.type === "game") {
      <div class="info">
        <span>
          <strong>{{ game.location.name }}</strong>
        </span>
        <span>
          {{ game.location.game }}
          @if (game.leftTeam.number === teamControl.value) {
            {{ game.location.number === 11 ? "mit" : "vs" }} Team
            {{ game.rightTeam.number }}
          } @else {
            {{ game.location.number === 11 ? "mit" : "vs" }} Team
            {{ game.leftTeam.number }}
          }
        </span>
      </div>
      <div class="results">
        @if (game.leftTeam.number === teamControl.value) {
          @switch (game.leftTeamPoints) {
            @case (undefined) {
              <span></span>
            }
            @case (3) {
              <span style="color: green">Sieg</span>
            }
            @case (1) {
              <span style="color: skyblue">Unentschieden</span>
            }
            @case (0) {
              <span style="color: red">Niederlage</span>
            }
            @default {
              <span></span>
            }
          }
          @if (game.leftTeamPoints !== undefined) {
            <span> Punkte: {{ game.leftTeamPoints }} </span>
          }
        } @else {
          @switch (game.rightTeamPoints) {
            @case (undefined) {
              <span></span>
            }
            @case (3) {
              <span style="color: green">Sieg</span>
            }
            @case (1) {
              <span style="color: skyblue">Unentschieden</span>
            }
            @case (0) {
              <span style="color: red">Niederlage</span>
            }
            @default {
              <span></span>
            }
          }
          @if (game.rightTeamPoints !== undefined) {
            <span> Punkte: {{ game.rightTeamPoints }} </span>
          }
        }
      </div>
    } @else {
      @if (game.time.number === 7) {
        <span>😋&nbsp;&nbsp;Mittagspause</span>
      } @else {
        <span>🧃&nbsp;&nbsp;Pause</span>
      }
    }
  </div>
}
