.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  align-items: center;

  .calendar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: center;
  }
}

.games {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
  grid-gap: 1rem;

  .game {
    display: contents;
  }
}
